.btn {
  display: inline-flex;
  padding: 10px 20px;
  background-color: $color-bright-turquoise;
  color: $color-default-black;

  border: none;
  border-radius: 50px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--inverted {
    background-color: transparent;
    border: 2px solid$color-bright-turquoise;
    color: $color-bright-turquoise;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.5;
  }
}
