.chart {
  width: 100%;
  max-width: 1120px;
  padding-top: 298px;
  overflow: hidden;

  @include vp-1023 {
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
  }
}

.chart__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include vp-1023 {
    grid-template-columns: auto;
    width: 50%;
  }
}

.chart__text {
  @include font-settings($ff-bahn, 400, 24px, 1.2);
  color: $color-bright-turquoise;
  text-align: center;
  z-index: 10;
  mix-blend-mode: difference;

  span {
    @include font-settings($ff-tilda, 500, 21px, 1.2);
    display: block;
    padding-top: 10px;

    @include vp-1023 {
      font-size: 16px;
      padding-top: 0;
    }
  }
}

.chart__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  padding: 29px 0 26px;
  background-color: #222222;

  @include vp-1023 {
    width: 100%;
    max-width: 100%;
    padding: 30px 20px;
  }

  &:not(:last-child) {
    &::before,
    &::after {
      position: absolute;
      content: "";
      right: -6px;
      width: 12px;
      height: calc(50% + 4px);
      background-color: $color-default-black;
      z-index: 100;

      @include vp-1023 {
        height: 20px;
        width: calc(50% + 4px);
      }

      @include vp-449 {
        height: 15px;
        width: calc(50% + 4px);
      }
    }

    &::before {
      top: -2px;
      transform: skew(10deg);

      @include vp-1023 {
        top: auto;
        bottom: -11px;
        right: auto;
        left: -2px;
        transform: rotate(5deg) skew(5deg);
      }

      @include vp-449 {
        top: auto;
        bottom: -5px;
        right: auto;
        left: -2px;
        transform: rotate(5deg) skew(5deg);
      }
    }

    &::after {
      bottom: -2px;
      transform: skew(-10deg);

      @include vp-1023 {
        bottom: -11px;
        right: -2px;
        transform: rotate(-5deg) skew(-5deg);
      }

      @include vp-449 {
        bottom: -5px;
        right: -2px;
        transform: rotate(-5deg) skew(-5deg);
      }
    }
  }
}

.blue-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-bright-turquoise;
  opacity: 0;
}

.chart__bubble {
  @include font-settings($ff-tilda, 500, 21px, 1.2);
  text-align: center;
  position: absolute;
  border: 2px solid #5a525a;
  border-radius: 10px;
  padding: 11px 5px;
  background-color: $color-default-black;
  z-index: -1;

  @include vp-1023 {
    font-size: 16px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 110%;
    height: 200px;
    left: -10px;
    background-color: $color-default-black;
    z-index: 10;

    @include vp-1023 {
      width: 160%;
      height: 150px;
      left: -45px;
      bottom: -12px;
    }
  }

  &--1 {
    top: -142px;
    left: 92px;
    width: 373px;
    height: 72px;
    padding: 21px;
    z-index: 40;

    @include vp-1023 {
      top: 54%;
      left: auto;
      right: -150px;
      width: 95px;
      height: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &::before {
      bottom: -72px;

      @include vp-1023 {
        bottom: -12px;
      }
    }

    .bubble-text {
      font-size: 24px;

      @include vp-1023 {
        font-size: 16px;
        width: 112px;
        top: 50px;
        left: 172px;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        bottom: -73px;
        left: 42px;
        width: 67px;
        height: 73px;

        @include vp-1023 {
          bottom: auto;
          top: 25px;
          left: -53px;
          height: 40px;
        }
      }

      &::before {
        background: #5a525a;
        clip-path: polygon(0 0, 0% 100%, 50% 0);

        @include vp-1023 {
          transform: rotate(90deg);
        }
      }

      &::after {
        background: $color-default-black;
        clip-path: polygon(3% 0, 3% 89%, 46% 0);

        @include vp-1023 {
          transform: rotate(90deg);
        }
      }
    }

    .bubble-helper {
      &::before,
      &::after {
        position: absolute;
        content: "";
        bottom: -73px;
        right: 42px;
        width: 67px;
        height: 73px;

        @include vp-1023 {
          bottom: auto;
          top: 48px;
          left: -53px;
          height: 40px;
        }
      }

      &::before {
        background: #5a525a;
        clip-path: polygon(100% 0, 50% 0, 100% 100%);

        @include vp-1023 {
          transform: rotate(90deg);
        }
      }

      &::after {
        background: $color-default-black;
        clip-path: polygon(97% 0, 54% 0, 97% 89%);

        @include vp-1023 {
          transform: rotate(90deg);
        }
      }
    }
  }

  &--3 {
    top: -199px;
    right: -58px;
    background-color: $color-bright-turquoise;
    border: none;
    z-index: 20;

    @include vp-1023 {
      top: 79%;
      right: -154px;
    }

    &::before {
      bottom: -152px;

      @include vp-1023 {
        height: 60px;
        bottom: -12px;
      }
    }

    .bubble-text {
      @include font-settings($ff-bahn, 400, 24px, 1);
      text-transform: uppercase;
      color: $color-default-black;
      width: 133px;
      height: 45px;
      border-radius: 10px;
      padding: 11px 0;
      border: none;

      @include vp-1023 {
        font-size: 20px;
        top: 123px;
        right: auto;
        left: 160px;
        width: 106px;
        height: 29px;
      }

      &::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 151px;
        bottom: -151px;
        left: 48%;
        background-color: $color-bright-turquoise;

        @include vp-1023 {
          width: 40px;
          height: 2px;
          left: -39px;
          bottom: auto;
          top: 22px;
        }
      }
    }
  }

  &--4 {
    top: -109px;
    right: 10px;
    z-index: 10;
    border-color: $color-mandalay;

    @include vp-1023 {
      top: 31px;
      right: -150px;
      width: 95px;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &::before {
      bottom: -55px;
    }

    .bubble-text {
      font-size: 24px;
      color: $color-mandalay;
      padding: 15px;

      @include vp-1023 {
        font-size: 16px;
        width: 112px;
        top: 45px;
        left: 172px;
        padding: 0;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        bottom: -50px;
        right: 61px;
        width: 67px;
        height: 50px;

        @include vp-1023 {
          bottom: -2px;
          right: 87px;
          width: 47px;
          height: 40px;
        }
      }

      &::before {
        background-color: $color-mandalay;
        clip-path: polygon(0 1%, 0% 100%, 50% 1%);

        @include vp-1023 {
          transform: rotate(90deg);
        }
      }

      &::after {
        background: $color-default-black;
        clip-path: polygon(3% 0, 3% 89%, 46% 0);

        @include vp-1023 {
          transform: rotate(90deg);
        }
      }
    }
  }
}
