.contacts {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
  }

  .section__subtitle {
    @include vp-767 {
      margin-bottom: 4px;
    }
  }

  .section__title {
    @include vp-767 {
      margin-bottom: 10px;
    }
  }
}

.contacts__description {
  @include font-settings($ff-tilda, 500, 24px, 1.2);
  max-width: 770px;
  margin-bottom: 82px;

  @include vp-767 {
    font-size: 16px;
    margin-bottom: 40px;
  }
}
