// schema

.start.schema {
  &::after {
    animation: stretch-right 0.5s forwards;
  }
}

.start.schema__frame {
  &--1,
  &--2,
  &--3,
  &--4 {
    animation: show 0.3s forwards;

    @include vp-1023 {
      animation: none;
    }

    &::after {
      animation: slide-right-fade-in 0.3s forwards;
    }
  }

  &--1 {
    animation-delay: 1s;

    &::after {
      animation-delay: 1.3s;
    }
  }

  &--2 {
    animation-delay: 1.6s;

    &::after {
      animation-delay: 1.9s;
    }
  }

  &--3 {
    animation-delay: 2.2s;

    &::after {
      animation-delay: 2.5s;
    }

    @include vp-1023 {
      animation: none;
    }
  }

  &--4 {
    animation-delay: 2.7s;

    @include vp-1023 {
      animation: none;
    }
  }
}


.start.schema__svg {
  .path-1 {
    animation: draw-line 0.6s linear 3s forwards;
  }

  .path-2 {
    animation: fade-in 0.6s linear 3s forwards;
  }

  .path-3 {
    animation: draw-line 0.6s linear 3.9s forwards;
  }

  .path-4 {
    animation: fade-in 0.6s linear 3.9s forwards;
  }
}

.start.schema__bottom-left {
  animation: show 0.3s forwards;
  animation-timing-function: ease-in-out;

  &--1 {
    animation-delay: 3.3s;

    @include vp-1023 {
      animation: none;
    }
  }

  &--2 {
    animation-delay: 4.2s;

    @include vp-1023 {
      animation: none;
    }
  }
}

.start.schema__bottom-right {
  animation: slide-right-fade-in 0.3s forwards;
  animation-timing-function: ease-in-out;

  &--1 {
    animation-delay: 3.6s;

    @include vp-1023 {
      animation: none;
    }
  }

  &--2 {
    animation-delay: 4.5s;

    @include vp-1023 {
      animation: none;
    }
  }
}

.start.schema__block {
  &--1 {
    @include vp-1279 {
      animation: border-color-1 1s forwards;
      animation-delay: 1.9s;
    }

    @include vp-1023 {
      animation: slide-up 0.5s forwards;
    }
  }

  &--2 {
    @include vp-1279 {
      animation: border-color-2 1s forwards;
      animation-delay: 3.9s;

      @include vp-1023 {
        animation: slide-up 0.5s forwards;
      }
    }
  }
}

// chart

.start.chart__list {
  .chart__bubble {
    &--1 {
      &::before {
        animation: bubble-show 1s ease forwards;
        animation-delay: 2.3s;

        @include vp-1023 {
          animation: bubble-show-mob 1s ease forwards;
          animation-delay: 2s;
        }
      }
    }

    &--3 {
      &::before {
        animation: bubble-show 1s ease forwards;
        animation-delay: 3.2s;

        @include vp-1023 {
          animation: bubble-show-mob 1s ease forwards;
          animation-delay: 3s;
        }
      }
    }

    &--4 {
      &::before {
        animation: bubble-show 1s ease forwards;
        animation-delay: 4s;

        @include vp-1023 {
          animation: bubble-show-mob 1s ease forwards;
          animation-delay: 4s;
        }
      }
    }
  }

  .blue-bg {
    &--1 {
      animation: chart-bg 0.5s cubic-bezier(0.13, 0.5, 0.73, 0.51) forwards;
      animation-delay: 0.5s;
    }

    &--2 {
      animation: chart-bg 0.5s cubic-bezier(0.13, 0.5, 0.73, 0.51) forwards;
      animation-delay: 1.5s;
    }

    &--3 {
      animation: chart-bg 0.5s cubic-bezier(0.13, 0.5, 0.73, 0.51) forwards;
      animation-delay: 2.5s;
    }

    &--4 {
      animation: chart-bg 0.5s cubic-bezier(0.13, 0.5, 0.73, 0.51) forwards;
      animation-delay: 3.5s;
    }
  }
}

.start.section__subtitle {
  animation: slide-up 0.6s forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
}

.start.section__title {
  animation: slide-up 0.6s forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.1s;

  @include vp-1023 {
    animation-delay: 0.3s;
  }
}

.start.offer__list {
  .offer__item {
    &--1 {
      animation: slide-right 0.6s forwards;
    }

    &--2 {
      animation: slide-up 0.6s forwards;

      @include vp-767 {
        animation: slide-right 0.6s forwards;
        animation-delay: 0.5s;
      }
    }

    &--3 {
      animation: slide-left 0.6s forwards;

      @include vp-767 {
        animation: slide-right 0.6s forwards;
        animation-delay: 1s;
      }
    }
  }
}

.start.why__description {
  animation: slide-up 0.6s forwards;
}

.start.why__image {
  animation: slide-up 0.6s forwards;
  animation-delay: 0.5s;
}

.start.why__statistics-list {
  .why__statistics-item {
    &--1 {
      animation: slide-right 0.6s forwards;
    }

    &--2 {
      animation: slide-up 0.6s forwards;

      @include vp-767 {
        animation: slide-right 0.6s forwards;
        animation-delay: 0.5s;
      }
    }

    &--3 {
      animation: slide-left 0.6s forwards;

      @include vp-767 {
        animation: slide-right 0.6s forwards;
        animation-delay: 1s;
      }
    }
  }
}

.start.solution__description {
  animation: slide-up 0.6s forwards;
  animation-delay: 0.5s;
}

.start.solution__item {
  &--1 {
    animation: slide-left 0.6s forwards;
    animation-timing-function: ease-in-out;
  }

  &--2 {
    animation: slide-left 0.6s forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
  }

  &--3 {
    animation: slide-left 0.6s forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
  }
}

.start.start.solution__btn {
  animation: slide-up 0.6s forwards;
  animation-delay: 0.5s;
}

.start.values__item {
  &--1 {
    animation: slide-right-down 0.6s forwards;

    @include vp-767 {
      animation: slide-right 0.6s forwards;
      animation-delay: 0.2s;
    }
  }

  &--2 {
    animation: slide-left-down 0.6s forwards;

    @include vp-767 {
      animation: slide-right 0.6s forwards;
      animation-delay: 0.4s;
    }
  }

  &--3 {
    animation: slide-right-up 0.6s forwards;

    @include vp-767 {
      animation: slide-right 0.6s forwards;
      animation-delay: 0.6s;
    }
  }

  &--4 {
    animation: slide-left-up 0.6s forwards;

    @include vp-767 {
      animation: slide-right 0.6s forwards;
      animation-delay: 0.8s;
    }
  }
}

.start.team__description {
  animation: slide-up 0.6s forwards;
  animation-delay: 0.5s;
}

.start.team__list {
  animation: slide-up 0.6s forwards;
  animation-delay: 0.7s;
}

.start.feedback__contact-wrapper {
  animation: slide-right 0.6s forwards;
}

.start.feedback__form {
  animation: slide-left 0.6s forwards;
}

.start.contacts__description {
  animation: slide-up 0.6s forwards;
  animation-delay: 0.5s;
}
