// schema

.start.schema {
  &::after {
    animation: stretch-right 0.5s forwards;
  }
}

.start.schema__icon {
  animation: show 0.5s forwards;

  &--1 {
    animation-delay: 0.5s;
  }

  &--2 {
    animation-delay: 1.5s;
  }

  &--3 {
    animation-delay: 4.5s;

    @include vp-1023 {
      animation-delay: 5s;
    }
  }

  &--4 {
    animation-delay: 6s;
  }
}

.start.schema__text-title {
  animation: slide-down-fade-in 0.5s forwards;
  animation-timing-function: ease-in-out;

  &--1 {
    animation-delay: 0.8s;
  }

  &--2 {
    animation-delay: 1.8s;
  }

  &--3 {
    animation-delay: 4.8s;

    @include vp-1023 {
      animation-delay: 5.8s;
    }
  }

  &--4 {
    animation-delay: 6.3s;
  }
}

.start.schema__text-descr {
  animation: slide-down-fade-in 0.2s forwards;
  animation-timing-function: ease-in-out;

  &--1 {
    animation-delay: 1s;
  }

  &--2 {
    animation-delay: 2s;
  }

  &--3 {
    animation-delay: 5s;

    @include vp-1023 {
      animation-delay: 6s;
    }
  }

  &--4 {
    animation-delay: 6.5s;
  }
}

.start.schema__frame {

  &--1,
  &--2,
  &--3 {
    &::after {
      animation: slide-right-fade-in 1s forwards;
    }
  }

  &--1 {
    &::after {
      animation-delay: 1s;
    }
  }

  &--2 {
    &::after {
      animation-delay: 4s;
    }
  }

  &--3 {
    &::after {
      animation-delay: 5.5s;
    }
  }
}

.start.schema__bottom-left {
  animation: show 1s forwards;
  animation-timing-function: ease-in-out;

  &--1 {
    animation-delay: 3s;
  }

  &--2 {
    animation-delay: 7.5s;

    @include vp-1023 {
      animation-delay: 4s;
    }
  }
}

.start.schema__bottom-right {
  animation: slide-right-fade-in 1s forwards;
  animation-timing-function: ease-in-out;

  &--1 {
    animation-delay: 3.5s;
  }

  &--2 {
    animation-delay: 8s;

    @include vp-1023 {
      animation-delay: 4.5s;
    }
  }
}

.start.schema__svg {
  .path-1 {
    animation: draw-line 1s linear 2.5s forwards;
  }

  .path-2 {
    animation: fade-in 1s linear 2.5s forwards;
  }

  .path-3 {
    animation: draw-line 1s linear 7s forwards;
  }

  .path-4 {
    animation: fade-in 1s linear 7s forwards;
  }
}

.start.schema__block {
  &--1 {
    @include vp-1279 {
      animation: border-color-1 2s forwards;
      animation-delay: 2.5s;
    }
  }

  &--2 {
    @include vp-1279 {
      animation: border-color-2 2s forwards;
      animation-delay: 7s;

      @include vp-1023 {
        animation-delay: 6.5s;
      }
    }
  }
}

// chart

.start.chart {
  .chart__item {
    animation: chart-slide-right 0.3s forwards;

    @include vp-1023 {
      animation: chart-slide-down 0.3s forwards;
      animation-timing-function: ease-in-out;
    }

    &--1 {
      animation-delay: 1s;
    }

    &--2 {
      animation-delay: 1.5s;
    }

    &--3 {
      animation-delay: 2.8s;
    }

    &--4 {
      animation-delay: 3.7s;
    }
  }

  .chart__bubble {
    &--1 {
      animation: chart-fade-in 0.7s forwards;
      animation-delay: 1.5s;

      @include vp-1023 {
        animation: chart-slide-right 0.5s forwards;
        animation-delay: 1.5s;
      }
    }

    &--2 {
      animation: chart-fade-in 0.7s forwards;
      animation-delay: 3s;

      @include vp-1023 {
        animation: chart-slide-right 0.5s forwards;
        animation-delay: 3.5s;
      }
    }

    &--3 {
      &::before {
        animation: show 0.5s forwards;
        animation-delay: 4.3s;
      }

      &::after {
        animation: chart-stretch 0.5s forwards;
        animation-delay: 3.7s;

        @include vp-1023 {
          animation: chart-stretch-mob 0.7s forwards;
          animation-delay: 4.2s;
        }
      }
    }

    &--4 {
      animation: chart-fade-in 0.7s forwards;
      animation-delay: 4.4s;

      @include vp-1023 {
        animation: chart-slide-right 0.5s forwards;
        animation-delay: 6.5s;
      }
    }
  }
}

.start.section__subtitle {
  animation: slide-up 0.6s forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.2s;
}

.start.section__title {
  animation: slide-up 0.6s forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.1s;

  @include vp-1023 {
    animation-delay: 0.3s;
  }
}

.start.offer__list {
  .offer__item {
    &--1 {
      animation: slide-right 0.6s forwards;
    }

    &--2 {
      animation: slide-up 0.6s forwards;

      @include vp-767 {
        animation: slide-right 0.6s forwards;
        animation-delay: 0.5s;
      }
    }

    &--3 {
      animation: slide-left 0.6s forwards;

      @include vp-767 {
        animation: slide-right 0.6s forwards;
        animation-delay: 1s;
      }
    }
  }
}

.start.why__description {
  animation: slide-up 0.6s forwards;
}

.start.why__image {
  animation: slide-up 0.6s forwards;
  animation-delay: 0.5s;

}

.start.why__statistics-list {
  .why__statistics-item {
    &--1 {
      animation: slide-right 0.6s forwards;
    }

    &--2 {
      animation: slide-up 0.6s forwards;

      @include vp-767 {
        animation: slide-right 0.6s forwards;
        animation-delay: 0.5s;
      }
    }

    &--3 {
      animation: slide-left 0.6s forwards;

      @include vp-767 {
        animation: slide-right 0.6s forwards;
        animation-delay: 1s;
      }
    }
  }
}

.start.solution__description {
  animation: slide-up 0.6s forwards;
  animation-delay: 0.5s;
}

.start.solution__item {
  &--1 {
    animation: slide-left 0.6s forwards;
    animation-timing-function: ease-in-out;
  }

  &--2 {
    animation: slide-left 0.6s forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
  }

  &--3 {
    animation: slide-left 0.6s forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
  }
}

.start.start.solution__btn {
  animation: slide-up 0.6s forwards;
  animation-delay: 0.5s;
}

.start.values__item {
  &--1 {
    animation: slide-right-down 0.6s forwards;

    @include vp-767 {
      animation: slide-right 0.6s forwards;
      animation-delay: 0.2s;
    }
  }

  &--2 {
    animation: slide-left-down 0.6s forwards;

    @include vp-767 {
      animation: slide-right 0.6s forwards;
      animation-delay: 0.4s;
    }
  }

  &--3 {
    animation: slide-right-up 0.6s forwards;

    @include vp-767 {
      animation: slide-right 0.6s forwards;
      animation-delay: 0.6s;
    }
  }

  &--4 {
    animation: slide-left-up 0.6s forwards;

    @include vp-767 {
      animation: slide-right 0.6s forwards;
      animation-delay: 0.8s;
    }
  }
}

.start.team__description {
  animation: slide-up 0.6s forwards;
  animation-delay: 0.5s;
}

.start.team__list {
  animation: slide-up 0.6s forwards;
  animation-delay: 0.7s;
}

.start.feedback__contact-wrapper {
  animation: slide-right 0.6s forwards;
}

.start.feedback__form {
  animation: slide-left 0.6s forwards;
}

.start.contacts__description {
  animation: slide-up 0.6s forwards;
  animation-delay: 0.5s;
}

.start.partnership__list {
  .partnership__item {
    &--1 {
      animation: slide-right 0.6s forwards;
    }

    &--2 {
      animation: slide-left 0.6s forwards;
    }
  }
}
