.feedback {
  width: 100%;
  max-width: 770px;
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 65px;
  }
}

.feedback__contact-wrapper {
  opacity: 0;
  transform: translateX(-100%);

  @include vp-767 {
    margin: 0 auto;
  }
}

.feedback__logo {
  width: 157px;
  height: 32px;
  margin-bottom: 5px;

  @include vp-767 {
    margin: 0 auto 5px;
  }
}

.feedback__logo-text {
  width: 159px;
  height: 15px;
  margin-bottom: 38px;

  @include vp-767 {
    margin: 0 auto 22px;
  }
}

.feedback__address-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;

  @include vp-767 {
    margin-bottom: 20px;
    padding-left: 25px;
  }
}

.feedback__address {
  margin-bottom: 12px;
  display: flex;
  align-items: center;

  @include vp-767 {
    margin-bottom: 5px;
  }

  .icon {
    margin-right: 8px;
  }

  &--tel {
    @include font-settings($ff-tilda, 700, 32px, 1);
    text-transform: uppercase;

    @include vp-1023 {
      font-size: 26px;
    }

    a {
      transition: opacity $trans-default;

      @include hover {
        opacity: 0.5;
      }
    }
  }

  &--address {
    .icon {
      padding-top: 16px;

      @include vp-767 {
        padding-top: 4px;
      }
    }
  }

  &--address,
  &--email {
    @include font-settings($ff-tilda, 400, 21px, 1.2);
    max-width: 82%;

    @include vp-1023 {
      font-size: 16px;
    }
  }

  &--email {
    a {
      transition: opacity $trans-default;

      @include hover {
        opacity: 0.5;
      }
    }
  }
}

.feedback__socials-list {
  display: flex;

  @include vp-767 {
    justify-content: center;
    margin-bottom: 41px;
  }
}

.feedback__socials-item {
  width: 40px;
  height: 40px;
  background-color: $color-bright-turquoise;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;

  @include vp-767 {
    width: 44px;
    height: 44px;
    margin-left: 10px;
  }

  &:first-child {
    @include vp-767 {
      margin: 0;
    }
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color $trans-default;

    @include hover {
      background-color: $color-default-white;
      border-radius: 50%;
    }
  }
}

.feedback__form-title {
  @include font-settings($ff-bahn, 600, 32px, 1.2);
  margin-bottom: 32px;
  text-transform: uppercase;

  @include vp-767 {
    text-align: center;
    margin-bottom: 31px;
  }
}

.feedback__form {
  opacity: 0;
  transform: translateX(100%);
  width: 53.5%;

  @include vp-767 {
    width: fit-content;
    margin: 0 auto;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
  }

  span:has(input),
  span:has(textarea) {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  input,
  textarea {
    @include font-settings($ff-tilda, 400, 21px, 1);
    width: 100%;
    background-color: $color-matterhorn;
    border: none;
    border-radius: 4px;
    padding: 8px 9px;

    &.is-active {
      background-color: $color-default-white;
      color: $color-default-black;
    }

    &::placeholder {
      @include font-settings($ff-tilda, 400, 21px, 1);
      color: $color-bright-turquoise;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background-color: $color-default-white;
      color: $color-default-black;

      &::placeholder {
        color: $color-default-black;
      }
    }

    @include vp-767 {
      padding: 10px 8px;
    }
  }

  textarea {
    min-height: 72px;
  }

  input[type="submit"] {
    @include font-settings($ff-tilda, 700, 21px, 1);
    color: $color-default-black;
    text-transform: uppercase;
    width: 160px !important;
    height: 40px !important;
    margin: 0 auto;
    background: $color-bright-turquoise url("../img/svg/send.svg") 44px 50% no-repeat !important;
    padding: 10px 20px 10px 56px !important;

    border-radius: 50px !important;
    cursor: pointer;
    transition: background-color $trans-default;

    @include vp-767 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include hover {
      background-color: $color-default-white !important;
      opacity: 1;
    }
  }
}

.feedback__agreement {
  margin-bottom: 32px;

  p {
    @include font-settings($ff-tilda, 400, 18px, 1.3);
  }

  a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    transition: opacity $trans-default;

    @include hover {
      opacity: 0.5;
    }
  }
}
