.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-white, 0.1);
  backdrop-filter: blur(4px);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 40px;

    @include vp-767 {
      padding: 0;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 1120px;
    padding: 61px 35px;

    background-color: $color-default-black;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 17px;
    right: 68px;
    z-index: 1;

    width: 48px;
    height: 48px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
    transition: opacity $trans-default;

    @include hover {
      opacity: 0.5;
    }

    @include vp-1023 {
      width: 32px;
      height: 32px;
      top: 20px;
      right: 20px;

      svg {
        width: 35px;
        height: 35px;
      }
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__title {
  @include font-settings($ff-bahn, 600, 32px, 1.2);
  margin-bottom: 43px;
  text-transform: uppercase;

  @include vp-767 {
    max-width: 57%;
    font-size: 26px;
    margin-bottom: 15px;
  }
}

.modal__image {
  @include vp-767 {
    overflow-x: scroll;
  }

  img {
    @include vp-767 {
      width: auto;
      height: 450px;
      max-width: fit-content;
      padding-right: 16px;
    }
  }
}

/* stylelint-disable-next-line */
#collective {
  .modal__title {
    padding-left: 25px;
  }
}

/* stylelint-disable-next-line */
#collective,
#performance {
  .modal__content {
    @include vp-1023 {
      padding: 18px 0 23px 12px;
    }
  }

  .modal__title {
    @include vp-1023 {
      margin-bottom: 13px;
      padding-left: 4px;
    }
  }
}

/* stylelint-disable-next-line */
#certificate {
  .modal__content {
    padding: 46px 64px 22px;

    @include vp-767 {
      padding: 18px 16px 16px;
    }
  }

  .modal__title {
    max-width: 100%;
    margin-bottom: 31px;
    margin-left: -4px;

    @include vp-1023 {
      margin-left: 0;
      margin-bottom: 6px;
    }
  }

  .modal__table {
    max-width: 650px;

    @include vp-767 {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .modal__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    padding: 16px 0;

    @include vp-767 {
      display: flex;
      flex-direction: column;
      gap: 0;
      width: 100%;
      padding: 8px 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-matterhorn;
    }

    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(11),
    &:nth-child(12) {
      @include vp-767 {
        flex-direction: row;
        gap: 32px;
        padding: 7px 0 1px;
      }
    }

    span:first-child {
      @include font-settings($ff-tilda, 400, 21px, 1.2);

      @include vp-767 {
        display: block;
        color: #999999;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
      }
    }

    span:last-child {
      @include font-settings($ff-tilda, 700, 21px, 1.2);

      @include vp-767 {
        font-size: 16px;
      }
    }

    &:nth-child(4),
    &:nth-child(6) {
      @include vp-767 {
        width: 27%;
      }
    }

    &:nth-child(5) {
      @include vp-767 {
        width: 46%;
      }
    }
  }

  .modal__get-info-btn {
    @include font-settings($ff-tilda, 700, 21px, 1);
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin: 47px auto 0;

    @include vp-767 {
      margin-top: 25px;
    }
  }
}

/* stylelint-disable-next-line */
#feedback {
  .modal__content {
    padding: 34px 186px 90px;

    @include vp-1023 {
      padding: 43px 16px 16px;
    }
  }

  .modal__inner-content {
    max-width: 788px;
    flex-wrap: wrap;
  }

  .modal__heading {
    width: 100%;

    @include vp-1023 {
      text-align: center;
    }
  }

  .modal__title {
    font-size: 64px;
    margin-bottom: 24px;

    @include vp-1023 {
      font-size: 32px;
      max-width: 100%;
      text-align: left;
      margin-bottom: 20px;
    }
  }

  .modal__text {
    @include font-settings($ff-tilda, 400, 21px, 1.2);
    margin-bottom: 32px;

    @include vp-1023 {
      text-align: left;
    }
  }

  .feedback__contact-wrapper {
    opacity: 1 !important;
    transform: none !important;
  }

  .feedback__form {
    width: 50.8%;
    opacity: 1 !important;
    transform: none !important;

    @include vp-767 {
      width: fit-content;
    }

    input,
    textarea {
      padding: 10px 9px;
    }
  }

  .feedback__address-wrapper {
    @include vp-1023 {
      margin-bottom: 14px;
    }
  }

  .feedback__address {
    margin-bottom: 7px;

    &--address {
      max-width: 100%;
    }
  }
}

/* stylelint-disable-next-line */
#terms,
#privacy {
  .modal__wrapper {
    padding: 0;
  }

  .modal__content {
    width: 100%;
    padding: 0;
  }

  .static__header {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 40px;
  }

  .modal__close-btn {
    top: 37px;
    right: 46px;
  }

  .footer {
    padding-bottom: 80px;
  }
}
