.offer {
  @include vp-767 {
    padding-bottom: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
  }

  .section__subtitle {
    opacity: 0;
    transform: translateY(200px);
  }

  .section__title {
    margin-bottom: 15px;
    opacity: 0;
    transform: translateY(200px);
  }
}

.offer__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow: hidden;

  @include vp-767 {
    grid-template-columns: auto;
    gap: 8px;
  }
}

.offer__item {
  max-width: 360px;
  min-height: 325px;
  background-color: $color-nero;
  border-radius: 20px;
  padding: 31px 24px 24px;

  @include vp-1023 {
    min-height: auto;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 21px 16px 24px;
  }

  &--1 {
    transform: translateX(-100%);
    opacity: 0;
  }

  &--2 {
    transform: translateY(200px);
    opacity: 0;
  }

  &--3 {
    transform: translateX(100%);
    opacity: 0;
  }
}

.offer__item-title {
  @include font-settings($ff-bahn, 600, 32px, 1);
  text-transform: uppercase;
  margin-bottom: 15px;

  @include vp-1023 {
    font-size: 26px;
    margin-bottom: 8px;
  }
}

.offer__item-text {
  @include font-settings($ff-tilda, 500, 21px, 1.2);
  position: relative;
  padding-left: 36px;

  @include vp-1023 {
    font-size: 16px;
    padding-left: 24px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;

    @include vp-1023 {
      margin-bottom: 7px;
    }
  }

  span {
    color: $color-bright-turquoise;
  }

  &::before {
    position: absolute;
    content: "";
    top: 12px;
    left: -2px;
    width: 24px;
    height: 4px;
    background-color: $color-bright-turquoise;
    border-radius: 5px;

    @include vp-1023 {
      top: 10px;
      left: -1px;
      width: 18px;
      height: 2px;
    }
  }
}
