.solution {
  padding-bottom: 73px;

  @include vp-767 {
    padding-bottom: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
  }

  .section__title {
    @include vp-767 {
      margin-bottom: 15px;
    }
  }
}

.solution__description {
  @include font-settings($ff-tilda, 500, 24px, 1.2);
  max-width: 800px;
  margin-bottom: 71px;
  transform: translateX(-100%);
  opacity: 0;

  @include vp-767 {
    font-size: 16px;
    margin-bottom: 63px;
  }
}

.solution__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 31px;
  counter-reset: list;
  margin-bottom: 72px;
  overflow: hidden;

  @include vp-767 {
    grid-template-columns: auto;
    margin-bottom: 32px;
    gap: 8px;
  }
}

.solution__item {
  max-width: 360px;
  min-height: 307px;
  background-color: $color-nero;
  border-radius: 20px;
  padding: 24px;

  @include vp-1279 {
    min-height: auto;
    padding: 24px 16px;
  }

  &--1 {
    transform: translateX(100%);
    opacity: 0;
  }

  &--2 {
    transform: translateX(100%);
    opacity: 0;
  }

  &--3 {
    transform: translateX(100%);
    opacity: 0;
  }
}

.solution__item-title {
  @include font-settings($ff-bahn, 600, 32px, 1);
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
  padding-top: 100px;
  position: relative;

  @include vp-1023 {
    font-size: 26px;
    margin-bottom: 8px;
    padding-top: 47px;
  }

  &::before {
    @include font-settings($ff-bahn, 350, 64px, 1);
    font-variation-settings: "wght" 350, "wdth" 75;
    position: absolute;
    content: counter(list);
    counter-increment: list;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);

    @include vp-1023 {
      font-size: 48px;
      top: -14px;
    }
  }
}

.solution__item-text {
  @include font-settings($ff-tilda, 400, 18px, 1.2);

  @include vp-1023 {
    font-size: 16px;
  }
}

.solution__btn {
  @include font-settings($ff-tilda, 900, 24px, 1.2);
  text-transform: uppercase;
  padding: 13px 24px;
  transition: background-color $trans-default;
  opacity: 0;
  transform: translateY(200px);

  @include vp-767 {
    font-size: 14px;
    padding: 13px 20px;
  }

  @include hover {
    background-color: $color-default-white;
    opacity: 1;
  }
}
